:root {
  --bg-color: #fff;
  --text-color: #000;
  --link-color: #0645ad;
}

[theme='light'] {
  --bg-color: #fff;
  --text-color: #000;
  --link-color: #0645ad;
}

[theme='dark'] {
  --bg-color: #000;
  --text-color: #fff;
  --link-color: #72ff9f;
}
