.bluh:hover {
  text-decoration: underline;
  cursor: pointer;
}

.kerou:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.hdaf {
  z-index: 1;
}

.avablock.fla:hover {
  color: #333;
}

.darkmode .div-block-895 {
  background-color: #201d21 !important;
  border-color: rgb(184, 155, 204) !important;
}

.darkmode .text-block-209 {
  color: #dcdcdc !important;
}

.darkmode .text-block-211 {
  color: rgba(255, 255, 255, 0.24) !important;
}

.darkmode .text-block-199 {
  color: rgba(255, 255, 255, 0.34) !important;
}

.darkmode .avablock.fla:hover {
  background: rgba(37, 42, 45, 0.34) !important;
}

.darkmode .avablock.fla.hover {
  background: rgba(37, 42, 45, 0.34) !important;
  color: #333;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.11);
}

.avablock.fla.hover {
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.11);
  color: #333;
}

.email-link {
  color: #0c77f8;
  font-size: 21px;
  line-height: 30px;
  display: flex;
  padding: 10px 0;
}

.email-link:hover {
  text-decoration: underline;
}

.email-from {
  margin-left: 4px;
  color: #0c77f8;
  font-weight: 500;
}

.email-from:hover {
  text-decoration: underline;
}

.darkmode textarea::placeholder {
  color: #fff;
}
